body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #f8f9fa;
}
.form-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}
button{
    width: 140px;
}
